main {
  min-height: calc(100% - 137px);
}

.window-confirm {
  /* margin: 2.5%; */
  padding: 0.5%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.window-elements {
  width: 50%;
  border: 2px solid #ed1389;
  border-radius: 15px;
  padding: 2%;
}

.line {
  margin-top: 5px;
  margin-bottom: 3%;
  height: 3px;
  background-color: #ed1389;
  box-shadow: #ed1389 0px 0px 5px;
}

p {
  font-size: 17px;
  line-height: 1.2;
}
