.information_form {
    background-color: #444444;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.50);
    border-radius: 15px;
    border: 2px #222222 solid;
}

.but {
    border: 2px #00C400 solid;
    border-radius: 20px;
}

.but:hover {
    background: #353535;
    border-color: #01aa01;
}

.input_field {
    width: calc(100% - 44px);
    padding: 8px 20px;
    margin-top: 7px;
    background: #333333;
    border: 1px #222222 solid;
    border-radius: 15px;
    font-family: 'Courier Prime';
    font-size: 16px;
}


.input_field::placeholder {
    color: #808080;
}

.input_field:focus {
    border: 2px solid #CBCBCB;
    outline: none;
}

/*    */