/* Блок header */

.navigation {
    display: flex;
}

.sign_up, .sign_in {
    padding: 6px 17px;
    position: relative;
    font-size: 24px;
    font-weight: 500;
    border: 2px solid;
    border-radius: 20px;
    background: #222222;
}

.sign_up {
    margin-right: 9px;
    max-width: 178px;
    border-color: #ED1389;
    cursor: pointer;
}

.sign_in {
    margin-left: 9px;
    max-width: 94px;
    border-color: #00C400;
    cursor: pointer;
}

.sign_up::before, .sign_in::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 20px;
    filter: blur(5px);
    pointer-events: none;
}

.sign_up::before {
    border-color: #ED1389;
}

.sign_in::before {
    border-color: #00C400;
}

.sign_up:hover {
    border-color: #e71384;
    background: #353535;
}

.sign_in:hover {
    border-color: #01aa01;
    background: #353535;
}

/*    */



/* Блок main */

main {
    padding: 150px 120px 0px 120px;
}

/* Первый блок */

.first_block {
    padding: 0px 44px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.start_menu {
    flex-basis: 60%
}

#start_menu_title {
    font-weight: 700;
    font-size: 96px;
}

.start_menu .text_font {
    margin-top: 32px;
    max-width: 690px;
}

.start_button {
    margin-top: 50px;
    margin-left: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00C400;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 2px #00C400 solid;
    width: 160px;
    height: 50px;
    cursor: pointer;
}

.start_button:hover {
    background: #01aa01;
    border-color: #01aa01;
}

.information_form {
    position: relative;
    margin-top: 15px;
    margin-left: 20px;
    padding: 38px 24px;
    width: 494px;
    height: 467px;
}

.information_form::before {
    content: '';
    position: absolute;
    top: 20px;
    left: -20px;
    width: 100%;
    height: 100%;
    background-color: #444444;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.50);
    border-radius: 15px;
    border: 2px #222222 solid;
    z-index: -1;
}

.information_form .text_font {
    margin-top: 15px;
}

.code {
    background-color: #333333;
    border-radius: 15px;
    padding: 30px 35px;
}

#practice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*    */


/* Второй блок */

.second_block {
    padding: 0px 44px;
    display: flex;
    justify-content: space-between;
}

#chat {
    flex-basis: 33%;
}

#rating {
    flex-basis: 47%;
}

/*    */


/* Третий блок */

.third_block {
    margin-top: 145px;
}

#third_block_title {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

.developer_block {
    margin-top: 45px;
    padding: 30px 40px 50px 60px; 
    position: relative; 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    z-index: 1;
    background: #333333;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
    border-radius: 15px;
}

.developer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    width: 400px;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.description_underblock {
    display: flex;
    justify-content: space-between;
}

.github_link {
    color: #CBCBCB;
    text-decoration: underline;
}