/* Базовые стили сайта */

* {
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
    color: #FFFFFF;
}

html, body {
    height: 100%;
}

body {
    background-color: #222222;
    font-family: 'Lato', sans-serif;
}


/*    */



/* Классы для шрифтов */

.title_font {
    font-weight: 900;
    font-size: 48px;
}

.text_font {
    line-height: 40px;
    font-weight: 500;
    font-size: 24px;
}

.code_font {
    font-family: 'Courier Prime';
    font-size: 16px;
    white-space: pre-wrap;
}

.code_block {
    font-family: 'Courier Prime';
    color: #00C400;
}

.code_comment {
    font-family: 'Courier Prime';
    color: #808080;
    font-size: 16px;
}

.code_text {
    font-family: 'Courier Prime';
    color: #ED1389;
}

/*    */



/* Блок header */

header {
    height: 80px;
    padding: 0px 120px;
    border-bottom: 1px #ED1389 solid;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header::before {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ED1389;
    filter: blur(10px);
    transform: scaleX(1);
    transform-origin: left;
}

#title {
    font-size: 36px;
    font-weight: 800;
}

/*    */



/* Блок main */

main {
    min-height: calc(100% - 137px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 120px 0px 150px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 482px;
}

.block {
    padding: 10px 30px 10px 30px;
    width: 100%;
    background-color: #444444;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.50);
    border-radius: 15px;
    border: 2px #222222 solid;
}

.greeting {
    margin-bottom: 15px;
    line-height: 30px;
}

.field {
    margin-top: 15px;
}

.field p {
    padding-left: 10px;
}

.input {
    display: flex;
    flex-direction: column;
}

.input_field {
    width: calc(100% - 44px);
    padding: 8px 20px;
    margin-top: 7px;
    background: #333333;
    border: 2px solid #333333;
    border-radius: 15px;
    font-family: 'Courier Prime';
    font-size: 16px;
}


.input_field::placeholder {
    color: #808080;
}

.input_field:focus {
    border: 2px solid #CBCBCB;
    outline: none;
}

#forg_pass {
    margin-top: 11px;
    text-align: right;
    padding-right: 25px;
    text-decoration: underline;
}

.log {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log_in_acc {
    margin: 57px 0px;
    padding: 6.4px 17px;
    font-size: 20px;
    position: relative;
    border: 2px solid;
    border-radius: 20px;
    border-color: #00C400;
}

/*    Footer    */

footer {
    color: #CBCBCB;
    font-size: 16px;
    height: 55px;
    padding: 0px 500px;
    border-top: 1px #ED1389 solid;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ED1389;
    filter: blur(10px);
    transform: scaleX(1);
    transform-origin: left;
}

.registration {
    margin-top: 11px;
    display: flex;
    flex-direction: row;
    line-height: 30px;
}

.registration a {
    margin-left: 11px;
    text-decoration: underline;
}
