/* Блок main */

main {
    min-height: calc(100% - 137px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 120px 0px 150px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 482px;
}

.information_form {
    padding: 10px 30px 10px 30px;
    width: 100%;
}

.greeting {
    margin-bottom: 15px;
    line-height: 30px;
}

.field {
    margin-top: 15px;
}

.field p {
    padding-left: 10px;
}

.input {
    display: flex;
    flex-direction: column;
}

#forg_pass {
    margin-top: 11px;
    text-align: right;
    padding-right: 25px;
    text-decoration: underline;
}

.log_in_acc {
    margin: 57px auto;
    position: relative;
    max-width: 209px;
    background: #444444;
    padding: 8px 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.registration {
    margin-top: 11px;
    display: flex;
    flex-direction: row;
    line-height: 30px;
}

.registration a {
    margin-left: 11px;
    text-decoration: underline;
    color: #00C400;
}

.registration a span {
    color: #00C400;
}

/*    Footer    */

footer {
    margin-top: 0px;
}

/*    */