/* Базовые стили сайта */

* {
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
    color: #FFFFFF;
}

body {
    background-color: #222222;
    font-family: 'Lato', sans-serif;
}

/*    */



/* Классы для шрифтов */

.title_font {
    font-weight: 900;
    font-size: 48px;
}

.text_font {
    line-height: 40px;
    font-weight: 500;
    font-size: 24px;
}

.code_font {
    font-family: 'Courier Prime';
    font-size: 16px;
    white-space: pre-wrap;
}

.code_block {
    font-family: 'Courier Prime';
    color: #00C400;
}

.code_comment {
    font-family: 'Courier Prime';
    color: #808080;
    font-size: 16px;
}

.code_text {
    font-family: 'Courier Prime';
    color: #ED1389;
}

/*    */



/* Блок header */

header {
    height: 80px;
    width: calc(100% - 240px);
    padding: 0px 120px;
    border-bottom: 1px #ED1389 solid;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header::before {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ED1389;
    filter: blur(10px);
    transform: scaleX(1);
    transform-origin: left;
}

#title {
    font-size: 36px;
    font-weight: 800;
}

.avatar_menu {
    position: relative;
    display: inline-block;
  }

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px #ED1389 solid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.menu {
    overflow: hidden;
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
    min-width: 145px;
    background-color: #444444;
    border-radius: 25px;
    border: 2px #333333 solid;
    padding: 8px 0;
    z-index: 2;
}

.menu li {
    list-style: none;
}

.menu li button {
    width: 100%;
    list-style: none;
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #444444;
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
}

.menu li button:hover {
    background-color: #333333;
}

/*    */



/* Блок main */

main {
    display: flex;
    justify-content: space-between;
    padding: 70px 120px 0px 120px;
}

.selection_frame {
    display: flex;
    margin-right: 50px;
    padding: 10px;
    width: 980px;
    min-height: 750px;
    height: 750px;
    background-color: #222222;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
    border-radius: 15px;
}

.chapter_section {
    padding: 5px 15px;
    height: 100%;
    max-width: 320px;
    background: #333333;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.50);
    border-radius: 15px;
    border: 1px #333333 solid;
    overflow-y: auto;
}

.chapter_section::-webkit-scrollbar {
    width: 15px;
}

.chapter_section::-webkit-scrollbar-thumb {
    background-color: #4e4e4e;
    border-radius: 10px;
}

.chapter, .chapter_name, .description {
    background: #444444;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.50);
    border-radius: 15px; 
    border: 2px #333333 solid;
}

.chapter {
    padding: 0px 20px;
    width: 100%;
    margin: 10px 0px;
    height: 80px;
    font-size: 24px;
    font-family: Lato;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    cursor: pointer;
}

.main_frame {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px 20px 10px 30px;
}

.chapter_name, .description {
    width: calc(100% - 40px);
    font-size: 24px;
    font-family: Lato;
    padding: 15px 20px;
}

.chapter_name {
    font-weight: 900;
}

.description {
    margin-top: 35px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
}

.start_button {
    padding: 8px 45px 12px 45px;
    background-color: #222222;
    font-size: 32px;
    font-family: Lato;
    font-weight: 500;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 2px #00C400 solid;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
}

.start_button:hover {
    border-color: #01aa01;
    background: #333333;
}


.reminder {
    height: 100%;
    background: #444444;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.50);
    border-radius: 15px;
    border: 2px #222222 solid;
    max-width: 310px;
    padding: 0px 20px 15px 20px;
}

.reminder .code_block {
    margin-top: 20px;
    font-size: 16px;
    line-height: 25px;
}