.rules {
    width: 90%;
    max-width: 400px;
    margin: 5% 5%;
    padding: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.valid {
    color: lawngreen;
    background-image: url('valid.png');
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 23px;
}
.not-valid, li {
    color: red;
    background-image: url('notValid.png');
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 23px;
}

#title-password{
    margin-bottom: 5%;
}

ul {
    list-style-image: none;
    list-style-type: none;
}

#list-rules li {
    margin: 2% 0;
}