<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="~{head :: head}"></th:block>
    <link
      type="text/css"
      rel="stylesheet"
      href="/static/css/footer.css"
      th:href="@{/css/footer.css}"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="/static/css/forgetPassword.css"
      th:href="@{/css/forgetPassword.css}"
    />
    <link
      href="/static/css/password.css"
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/password.css}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/3.1.0/jsencrypt.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script
      src="/js/checkPassword.js"
      th:src="@{/js/checkPassword.js}"
    ></script>
    <title>Создание нового пароля</title>
  </head>
  <body>
    <header>
      <a id="title" href="/"><span>CodeUp</span></a>
      <div class="navigation">
        <form action="/registration" method="get">
          <button type="submit" class="sign_up">Регистрация</button>
        </form>
        <form action="/login" method="get">
          <button type="submit" class="sign_in">Вход</button>
        </form>
      </div>
    </header>
    <div
      class="email-block"
      style="
        min-height: calc(100% - 155px);
        margin-top: 0.1%;
        margin-bottom: 0.3%;
      "
    >
      <div class="forget">
        <div class="greeting information_form">
          <p class="code-block">Введите новый пароль для вашего аккаунта</p>
        </div>
        <form
          method="post"
          class="input information_form"
          action="/reset-password"
          onsubmit="encryptAndSend(event)"
        >
          <div class="field">
            <p>Пароль</p>
            <input
              class="input_field"
              type="password"
              id="password"
              name="password"
              placeholder="Введите новый пароль"
              maxlength="25"
              minlength="4"
              required
            />
          </div>
          <div class="field">
            <p>Подтверждение пароля</p>
            <input
              class="input_field"
              name="confirm-password"
              id="confirm-password"
              type="password"
              placeholder="Подтверждение нового пароля"
              maxlength="25"
              minlength="4"
              required
            />
            <style>
              #password-strength {
                border: 2px;
                border-radius: 20px;
                transition:
                  border-color 0.5s,
                  box-shadow 0.5s,
                  width 0.5s ease;
              }
            </style>
            <div
              id="password-strength"
              style="
                margin-top: 10px;
                height: 10px;
                margin-left: 5px;
                max-width: 97.5%;
              "
            ></div>
            <p
              id="password-complexity"
              style="padding-top: 5px; padding-bottom: 5px"
            ></p>
          </div>
          <div class="rules" style="margin-top: 10px">
            <div id="password-rules">
              <p id="title-password">Ваш пароль должен содержать</p>
              <ul id="list-rules">
                <li id="length-rule">Не менее 8 символов</li>
                <li id="uppercase-rule">Хотя бы одну заглавную букву</li>
                <li id="lowercase-rule">Хотя бы одну строчную букву</li>
                <li id="number-rule">Хотя бы одну цифру</li>
                <li id="special-rule">
                  Хотя бы один специальный символ (!@#$%/&*^№)
                </li>
              </ul>
            </div>
          </div>
          <input type="hidden" th:value="${publicKey}" id="publicKey" />
          <input type="hidden" name="encodedPassword" id="encodedPassword" />
          <input type="hidden" name="email" id="email" />
          <input
            type="hidden"
            name="encodedConfirmPassword"
            id="encodedConfirmPassword"
          />
          <button id="submit-button" class="email-btn" type="submit">
            Изменить пароль
          </button>
        </form>
      </div>
    </div>
    <footer th:replace="~{footer :: footer}"></footer>
    <script
      src="/static/js/createNewPassword.js"
      th:src="@{/js/createNewPassword.js}"
    ></script>
    <script src="/static/js/encrypt.js" th:src="@{/js/encrypt.js}"></script>
    <script>
      async function encryptAndSend(event) {
        event.preventDefault();
        let publicKey = document.getElementById("publicKey").value;
        let password = document.getElementById("password").value;
        let confirmPassword = document.getElementById("confirm-password").value;

        let url = new URL(window.location.href);
        let params = new URLSearchParams(url.search);
        let email = params.get("email");
        document.getElementById("email").value = email;

        document.getElementById("encodedPassword").value = await encryptText(
          password,
          publicKey
        );
        event.target.submit();
      }
    </script>
  </body>
</html>
