<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="~{head :: head}"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/3.1.0/jsencrypt.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="/static/css/footer.css"
      th:href="@{/css/footer.css}"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="/static/css/forgetPassword.css"
      th:href="@{/css/forgetPassword.css}"
    />
    <title>Сброс пароля</title>
  </head>
  <body>
    <header>
      <a id="title" href="/"><span>CodeUp</span></a>
      <div class="navigation">
        <form action="/registration" method="get">
          <button type="submit" class="sign_up">Регистрация</button>
        </form>
        <form action="/login" method="get">
          <button type="submit" class="sign_in">Вход</button>
        </form>
      </div>
    </header>
    <div class="email-block">
      <div class="forget">
        <div class="greeting information_form">
          <p class="code-block">Введите электронный адрес вашего аккаунта</p>
        </div>
        <form
          method="post"
          class="input information_form"
          action="/forget-password"
          onsubmit="encryptAndSend(event)"
        >
          <div class="field">
            <p>Email</p>
            <input
              class="input_field"
              type="email"
              id="email"
              name="email"
              placeholder="Введите свой email"
              maxlength="25"
              minlength="4"
              required
            />
          </div>
          <input type="hidden" th:value="${publicKey}" id="publicKey" />
          <input type="hidden" name="encodedEmail" id="encodedEmail" />
          <button class="email-btn" type="submit">Восстановить пароль</button>
        </form>
      </div>
    </div>
    <footer th:replace="~{footer :: footer}"></footer>
    <script src="/static/js/encrypt.js" th:src="@{/js/encrypt.js}"></script>
    <script>
      async function encryptAndSend(event) {
        event.preventDefault();
        let publicKey = document.getElementById("publicKey").value;
        let email = document.getElementById("email").value;
        document.getElementById("encodedEmail").value = await encryptText(
          email,
          publicKey
        );
        event.target.submit();
      }
    </script>
  </body>
</html>
