<head th:fragment="head">
    <meta http-equiv="Content-Type" Content="text/html; Charset=UTF-8">
    <meta content="программирование, обучение программированию, java, джава, игра" name="keywords">
    <meta content="Обучение программированию в игровом формате" name="description">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/login.css" th:href="@{/css/basic.css}">
    <link type="text/css" rel="stylesheet" href="/css/login.css" th:href="@{/css/font.css}">
    <link type="text/css" rel="stylesheet" href="/css/header.css" th:href="@{/css/header.css}">
    <link type="text/css" rel="stylesheet" href="/css/duplicate.css" th:href="@{/css/duplicate.css}">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon" th:href="@{/images/favicon.png}">
</head>
