<html lang="rus">
  <head>
    <th:block th:insert="~{head :: head}"> </th:block>
    <link
      type="text/css"
      rel="stylesheet"
      href="/static/css/menu.css"
      th:href="@{/css/menu.css}"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="/static/css/duplicate.css"
      th:href="@{/css/duplicate.css}"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="/static/css/chat.css"
      th:href="@{/css/chat.css}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/profile.js" th:src="@{/js/profile.js}"></script>
    <title>CodeUp</title>
  </head>
  <body>
    <div th:replace="~{blocks/header::header}"></div>
    <div th:replace="~{blocks/chat::chat}"></div>
    <main>
      <div class="selection_frame" id="first-section">
        <div class="chapter_section">
          <div th:each="level, iterStat : ${levels}">
            <button
              class="chapter"
              th:id="'level' + ${iterStat.count}"
              th:text="'Уровень ' + ${iterStat.count} +'. '+ ${level.getTextLevel()}"
              th:attr="onclick=|switchLevel(${iterStat.count})|"
              th:style="${iterStat.count > curLevel ? 'box-shadow: 0px 0px 10px rgba(215, 4, 29, 0.7); border: 2px #c61212 solid;' : 'box-shadow: 0px 0px 10px rgba(2, 78, 255, 0.7); border: 2px #121bc6 solid;'}"
            ></button>
          </div>
        </div>
      </div>
      <div class="second_block" id="second-section">
        <div th:each="level, iterStat : ${levels}">
          <div
            class="main_frame"
            th:id="'main_frame' + ${iterStat.count}"
            th:style="${iterStat.count == 1 ? '' : 'display:none;'}"
          >
            <div
              class="chapter_name information_forms"
              th:id="'title'
            + ${iterStat.count}"
              th:text="'Уровень ' + ${iterStat.count} +'. '+ ${level.getTextLevel()}"
            ></div>
            <div
              th:if="${curBlock == block && curLevel >= iterStat.count || curBlock > block}"
            >
              <div
                class="description information_forms"
                th:id="'theory'
                    + ${iterStat.count}"
                th:utext="${level.getTheory()}"
              ></div>
              <div class="container">
                <a th:attr="onclick=|switchLevel(${iterStat.count - 1})|">
                  <span>Предыдущий</span>
                </a>
                <a
                  th:href="'/CodeUp/javaTower/level/' + ${block} +
                '/'+ ${level.getLevel()}"
                >
                  <span>
                    <form
                      method="get"
                      class="input"
                      th:action="'/CodeUp/javaTower/level/' + ${block} +
                              '/'+ ${level.getLevel()}"
                    >
                      Пройти тест
                    </form>
                  </span>
                </a>
                <a th:attr="onclick=|switchLevel(${iterStat.count + 1})|">
                  <span style="margin-right: 0">Следующий</span>
                </a>
              </div>
            </div>
            <div
              th:unless="${curBlock == block && curLevel >= iterStat.count || curBlock > block}"
            >
              <div class="description information_forms">
                Пройдите сначала предыдущие уровни
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reminder" id="third-section">
        <div class="input-block">
          <textarea
            class="input-text"
            id="input_textarea"
            wrap="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            placeholder="Напиши код!"
            oninput="highlightKeywords()"
            contenteditable="true"
          ></textarea>
        </div>
        <div class="output-block">
          <textarea id="output" placeholder="Вывод компилятора" readonly></textarea>
        </div>
        <div class="compilate-button">
          <button type="button" id="send-code" class="compilate-btn">Скомпилировать</button>
        </div>
      </div>
    </main>
  <input type="hidden" id="username" th:value="${username}">
  </body>
  <script th:inline="javascript">
    document.getElementById("input_textarea").value = "public class Main {\n" +
            "    public static void main(String[] args) {\n" +
            "        \n" +
            "    }\n" +
            "}";
    function switchLevel(level) {
      const levels = document.querySelectorAll('[id^="main_frame"]');
      const needLevel = document.getElementById("main_frame" + level);
      const scrollbar = document.getElementById("second-section");
      if (needLevel != null) {
        levels.forEach(function (element) {
          element.style.display = "none";
        });
        needLevel.style.display = "";
        scrollbar.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      }
    }
    const socketCode = new SockJS('/compiler');
    const stompClientCode = Stomp.over(socketCode);
    const username = document.getElementById("username").value;
    stompClientCode.connect({}, function() {
      stompClientCode.subscribe('/topic/compilerOutput/' + username, function(message) {
        const messageText = message.body;
        appendTextToOutput(messageText);
      });
    });

    function appendTextToOutput(text) {
      const outputTextArea = document.getElementById("output");
      text = text.replace(/\r/g, "");
      outputTextArea.value += text;
    }
    document.getElementById("send-code").addEventListener("click", () => {
      const code = document.getElementById("input_textarea").value;
      document.getElementById("output").value = "";
      if (code){
        fetch('/compile/' + username, {
          method: "POST",
          headers: {
            "Content-Type": "text/plain",
          },
          body: code
        })
      }
    });

    const keywords = [
      "abstract", "continue", "for", "new", "switch",
      "assert", "default", "if", "package", "synchronized",
      "boolean", "do", "goto", "private", "this",
      "break", "double", "implements", "protected", "throw",
      "byte", "else", "import", "public", "throws",
      "case", "enum", "instanceof", "return", "transient",
      "catch", "extends", "int", "short", "try",
      "char", "final", "interface", "static", "void",
      "class", "finally", "long", "strictfp", "volatile",
      "const", "float", "native", "super", "while",
      "null", "true", "false"
    ];

    function highlightKeywords() {
      const textArea = document.getElementById("input_textarea");
      const text = textArea.value;
      const words = text.split(/\s+/);
      for (let i = 0; i < words.length; i++) {
        if (keywords.indexOf(words[i]) !== -1) {
          words[i] = '<span class="keyword">' + words[i] + '</span>';
        }
      }
      textArea.innerHTML = words.join(' ');
    }
  </script>
</html>
