<!DOCTYPE html>
<html lang="rus">
    <head>
        <th:block th:replace="head :: head">
        </th:block>
        <link type="text/css" rel="stylesheet" href="/static/css/duplicate.css" th:href="@{/css/duplicate.css}">
        <link type="text/css" rel="stylesheet" href="/static/css/level.css" th:href="@{/css/level.css}">
        <link type="text/css" rel="stylesheet" href="/static/css/duplicate.css" th:href="@{/css/duplicate.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src=".../static/js/profile.js" th:src="@{/js/profile.js}"></script>
        <title>CodeUp</title>
    </head>
    <body>
        <header>
            <a id="title" href="/CodeUp/menu"><span>CodeUp</span></a>
            <div class="avatar_menu">
                <div th:if="${image == null}">
                    <img th:src="@{/images/4.jpg}" class="avatar">
                </div>
                <div th:if="${image != null}">
                    <img th:src="'data:image/jpeg;base64,' + ${image}" class="avatar">
                </div>
                <ul class="menu">
                    <form method="get" action="/CodeUp/profile">
                        <li><button type="submit">Мой профиль</button></li>
                    </form>
                    <form method="get" action="/CodeUp/settings">
                        <li><button type="submit">Настройки</button></li>
                    </form>
                    <form method="get" action="/logout">
                        <li><button type="submit">Выход</button></li>
                    </form>
                </ul>
            </div>
        </header>
        <main>
            <form th:action="'/CodeUp/javaTower/level/'+ '/' + ${block} + '/'+ ${level} +'/result/'" method="get" class="question_form information_form">
                <div th:each="question, iterStat : ${questions}">
                    <p th:text="${iterStat.index + 1} + '/' + ${questions.size()} + ' ' + ${question.textQues}"
                       class="question"></p>

                    <div th:each="answer, iterStat : ${question.shuffledAnswers}">
                        <input type="radio" th:id="'answer-' + ${question.idQues} + '-' + ${iterStat.index}"
                               th:name="${question.idQues}"
                               th:value="${answer}" />
                        <label th:for="'answer-' + ${question.idQues} + '-' + ${iterStat.index}"
                               th:text="${answer}"></label>
                    </div>
                    <br>
                </div>
                <button type="submit" class="but">Завершить тест</button>
            </form>
        </main>
    </body>
</html>