<!DOCTYPE html>
<html lang="rus">
    <head>
        <th:block th:replace="head :: head">
        </th:block>
        <link type="text/css" rel="stylesheet" href="/static/css/duplicate.css" th:href="@{/css/duplicate.css}">
        <link type="text/css" rel="stylesheet" href="/static/css/level.css" th:href="@{/css/level.css}">
        <link type="text/css" rel="stylesheet" href="/static/css/duplicate.css" th:href="@{/css/duplicate.css}">
        <script src=".../static/js/profile.js" th:src="@{/js/profile.js}"></script>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src=".../static/js/level.js" th:src="@{/js/level.js}"></script> -->
        <title>CodeUp</title>
    </head>
    <body>
        <header>
            <a id="title" href="/CodeUp/menu"><span>CodeUp</span></a>
            <div class="avatar_menu">
                <div th:if="${image == null}">
                    <img th:src="@{/images/4.jpg}" class="avatar">
                </div>
                <div th:if="${image != null}">
                    <img th:src="'data:image/jpeg;base64,' + ${image}" class="avatar">
                </div>
                <ul class="menu">
                    <form method="get" action="/CodeUp/profile">
                        <li><button type="submit">Мой профиль</button></li>
                    </form>
                    <form method="get" action="/CodeUp/settings">
                        <li><button type="submit">Настройки</button></li>
                    </form>
                    <form method="get" action="/logout">
                        <li><button type="submit">Выход</button></li>
                    </form>
                </ul>
            </div>
        </header>
        <main>
            <!--- <div class="question_form information_form">
                <p class="question"></p>
                <form action="" method="post">
                    <input type="radio" id="answer_1" name="answer" value="answer_1">
                    <label for="answer_1">Вариант ответа 1</label><br>
                    
                    <input type="radio" id="answer_2" name="answer" value="answer_2">
                    <label for="answer_2">Вариант ответа 2</label><br>
                    
                    <input type="radio" id="answer_3" name="answer" value="answer_3">
                    <label for="answer_3">Вариант ответа 3</label><br>
                    
                    <input type="radio" id="answer_4" name="answer" value="answer_4">
                    <label for="answer_4">Вариант ответа 4</label><br><br>
                    
                    <button type="submit" class="but">Отправить ответ</button>
                </form>
            </div>
            <div class="result_message information_form" style="display: none;">
                <p id="result_text"></p>
            </div> ---->

            <form th:action="'/CodeUp/javaTower/level/' + ${id} + '/result/'" method="get" class="question_form information_form">
                <div th:each="question, iterStat : ${questions}">
                    <p th:text="${iterStat.index + 1} + '/' + ${questions.size()} + ' ' + ${question.textQues}"
                       class="question"></p>

                    <div th:each="answer, iterStat : ${question.shuffledAnswers}">
                        <input type="radio" th:id="'answer-' + ${question.idQues} + '-' + ${iterStat.index}"
                               th:name="${question.idQues}"
                               th:value="${answer}" />
                        <label th:for="'answer-' + ${question.idQues} + '-' + ${iterStat.index}"
                               th:text="${answer}"></label>
                    </div>
                    <br>
                </div>
                <input type="submit" value="Завершить тест"/>
            </form>
        </main>
    </body>
</html>