<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/static/css/cyberpunk-css-main/cyberpunk.css" th:href="@{/css/cyberpunk-css-main/cyberpunk.css}">
    <link type="text/css" rel="stylesheet" href="/static/css/towers.css" th:href="@{/css/towers.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/menu.js" th:src="@{/js/menu.js}"></script>
  <title>Choose Towers</title>
</head>
<body th:style="|background:url(@{/images/towers/основнойФон.png}); background-size: cover;
background-repeat: no-repeat;|">
<div>
  <div class="JavaTower">
    <a href="/CodeUp/javaTower"><img th:src="@{/images/towers/ГлавБашня.png}" alt="Java Tower"></a>
  </div>
  <a href="/CodeUp/javaTower" class="cyberpunk-font-og f-x2-5 fg-yellow TextJava" >Java Tower</a>
</div>
<div>
  <div class="LeftTower cyber-glitch-1">
    <img th:src="@{/images/towers/ЛевБашня.png}">
  </div>
  <a class="cyberpunk-font-og f-x2-5 fg-blue cyber-glitch-4 TextLeftTower">Coming</a>
  <div class="oxanium-font f-x2-5 fg-blue cyber-glitch-3 TextLeftTower" style="left: 18%;">_</div>
</div>
<div>
  <div class="RightTower cyber-glitch-1">
    <img th:src="@{/images/towers/ПравБашня.png}">>
  </div>
  <a class="cyberpunk-font-og f-x2-5 fg-cyan cyber-glitch-4 TextRightTower">Coming</a>
  <div class="oxanium-font f-x2-5 fg-cyan cyber-glitch-3 TextRightTower" style="left: 91%;">_</div>
</div>
</body>