<!DOCTYPE html>
<html lang="rus">
    <head>
        <meta http-equiv="Content-Type" Content="text/html; Charset=UTF-8">
        <meta content="программирование, обучение программированию, java, джава, игра" name="keywords">
        <meta content="Обучение программированию в игровом формате" name="description">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
        <link  type="text/css" rel="stylesheet" href="/static/css/profile.css" th:href="@{/css/profile.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src=".../static/js/profile.js" th:src="@{/js/profile.js}"></script>
        <title>CodeUp</title>
    </head>
    <body>
        <header>
            <a id="title" href="/CodeUp/menu"><span>CodeUp</span></a>
            <div class="avatar_menu">
                <img th:src="@{/images/4.jpg}" class="avatar">
                <ul class="menu">
                    <form method="get" action="/CodeUp/profile">
                        <li><button type="submit">Мой профиль</button></li>
                    </form>
                    <form method="get" action="/">
                        <li><button type="submit">Настройки</button></li>
                    </form>
                    <form method="get" action="/logout">
                        <li><button type="submit">Выход</button></li>
                    </form>
                </ul>
            </div>
        </header>
        <main>
            <div class="profile">
                <div class="top_profile">
                    <div th:if="${gamer.getImage() == null}">
                        <img th:src="@{/images/4.jpg}" alt="Gamer Image" class="profile_img">
                    </div>
                    <div th:if="${gamer.getImage() != null}">
                        <img th:src="'data:image/jpeg;base64,' + ${#strings.arrayEncode(gamer.getImage())}" alt="Gamer Image" class="profile_img">
                    </div>
                    <span th:text="${gamer.getNickname()}"></span>
                </div>
                <div class="bottom_profile">
                    <div class="profile_line">
                        <span class="line_tag">Имя:</span>
                        <span class="line_text" th:text="${gamer.getRealName()}"></span>
                    </div>
                    <div class="profile_line">
                        <span class="line_tag">Возраст:</span>
                        <span class="line_text" th:text="${gamer.getAge()}"></span>
                    </div>
                    <div class="profile_line">
                        <span class="line_tag">Уровень Java:</span>
                        <span class="line_text" th:text="${gamer.getCurLvlJava()}"></span>
                    </div>
                    <div class="profile_line github">
                        <span class="line_tag">GitHub:</span>
                        <a class="line_text" th:text="${gamer.getGithub()}" th:href="${gamer.getGithub()}"></a>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>