<!doctype html>
<html lang="rus">
  <head>
    <th:block th:insert="~{head :: head}"> </th:block>
    <link
      type="text/css"
      rel="stylesheet"
      href="/static/css/profile.css"
      th:href="@{/css/profile.css}"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="/static/css/duplicate.css"
      th:href="@{/css/duplicate.css}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src=".../static/js/profile.js" th:src="@{/js/profile.js}"></script>
    <title>CodeUp</title>
  </head>
  <body>
    <div th:replace="~{blocks/header::header}"></div>
    <main>
      <div class="profile">
        <div class="top_profile information_form">
          <div th:if="${gamer.getImage() == null}">
            <img
              th:src="@{/images/4.jpg}"
              alt="Gamer Image"
              class="profile_img"
            />
          </div>
          <div th:if="${gamer.getImage() != null}">
            <img
              th:src="'data:image/jpeg;base64,' + ${image}"
              alt="Gamer Image"
              class="profile_img"
            />
          </div>
          <span th:text="${gamer.getNickname()}"></span>
        </div>
        <div class="bottom_profile information_form">
          <div class="profile_line" th:if="${gamer.getName() != null}">
            <div th:if="${gamer.getName() != ''}">
              <span class="line_tag">Имя:</span>
              <span class="line_text" th:text="${gamer.getName()}"></span>
            </div>
          </div>
          <div class="profile_line" th:if="${gamer.getBirthday() != null}">
            <span class="line_tag">День рождения:</span>
            <span class="line_text" th:text="${gamer.getBirthday()}"></span>
          </div>
          <div class="profile_line">
            <span class="line_tag">Уровень Java:</span>
            <span
              class="line_text"
              th:text="${gamer.getCurLvlJava()} + '.' + ${gamer.getCurLvlJava()}"
            >
            </span>
          </div>
          <div class="profile_line github" th:if="${gamer.getGithub() != null}">
            <div th:if="${gamer.getName() != ''}">
              <span class="line_tag">GitHub:</span>
              <a
                class="line_text"
                th:text="${gamer.getGithub()}"
                th:href="${gamer.getGithub()}"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
