<!doctype html>
<html lang="rus">
  <head>
    <th:block th:insert="~{head :: head}"> </th:block>
    <link
      type="text/css"
      rel="stylesheet"
      href="/static/css/footer.css"
      th:href="@{/css/footer.css}"
    />
    <link
      href="/static/css/index.css"
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/registration.css}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/3.1.0/jsencrypt.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link
      href="/static/css/password.css"
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/password.css}"
    />
    <title>Регистрация</title>
  </head>
  <body>
    <header>
      <a id="title" href="/"><span>CodeUp</span></a>
      <div class="navigation">
        <p class="sign_up">У вас уже есть аккаунт?</p>
        <form action="/login" method="get">
          <button type="submit" class="sign_in">Вход</button>
        </form>
      </div>
    </header>
    <main>
      <div class="registration">
        <form
          method="post"
          class="input block"
          action="/registration"
          onsubmit="encryptAndSend(event)"
        >
          <div class="field">
            <p class="code_block">Введите свои данные для создания профиля</p>
          </div>
          <div class="field">
            <p>Email</p>
            <input
              id="email"
              class="input_field"
              type="email"
              name="email"
              placeholder="Введите email"
              maxlength="25"
              minlength="4"
              required
            />
          </div>
          <div class="field">
            <p>Username</p>
            <input
              id="nickname"
              class="input_field"
              name="nickname"
              placeholder="Введите имя вашего аватара"
              maxlength="25"
              minlength="3"
              required
            />
          </div>
          <div class="field">
            <p>Password</p>
            <input
              class="input_field"
              name="password"
              id="password"
              type="password"
              placeholder="Придумайте пароль"
              maxlength="25"
              minlength="4"
              required
            />
            <div
              id="password-strength"
              style="
                margin-top: 10px;
                height: 10px;
                margin-left: 5px;
                max-width: 97.5%;
              "
            ></div>
            <p
              id="password-complexity"
              style="padding-top: 5px; padding-bottom: 5px"
            ></p>
          </div>
          <div class="rules">
            <div id="password-rules">
              <p id="title-password">Ваш пароль должен содержать</p>
              <ul id="list-rules">
                <li id="length-rule">Не менее 8 символов</li>
                <li id="uppercase-rule">Хотя бы одну заглавную букву</li>
                <li id="lowercase-rule">Хотя бы одну строчную букву</li>
                <li id="number-rule">Хотя бы одну цифру</li>
                <li id="special-rule">
                  Хотя бы один специальный символ (!@#$%/&*^№)
                </li>
              </ul>
            </div>
          </div>
          <th:block th:insert="~{blocks/errorBlock :: error}"></th:block>
          <button type="submit" id="submit-button" class="create_account but">
            Создать аккаунт
          </button>
          <input type="hidden" th:value="${publicKey}" id="publicKey" />
          <input type="hidden" name="encodedEmail" id="encodedEmail" />
          <input type="hidden" name="encodedNickname" id="encodedNickname" />
          <input type="hidden" name="encodedPassword" id="encodedPassword" />
        </form>
      </div>
    </main>
    <footer th:replace="~{footer :: footer}"></footer>
    <script
      src="/static/js/registration.js"
      th:src="@{/js/registration.js}"
    ></script>
    <script src="/static/js/encrypt.js" th:src="@{/js/encrypt.js}"></script>
    <script>
      async function encryptAndSend(event) {
        event.preventDefault();
        let publicKey = document.getElementById("publicKey").value;
        let email = document.getElementById("email").value;
        let nickname = document.getElementById("nickname").value;
        let password = document.getElementById("password").value;
        document.getElementById("encodedEmail").value = await encryptText(
          email,
          publicKey
        );
        document.getElementById("encodedNickname").value = await encryptText(
          nickname,
          publicKey
        );
        document.getElementById("encodedPassword").value = await encryptText(
          password,
          publicKey
        );
        event.target.submit();
      }
    </script>
    <script src="/js/checkPassword.js"></script>
  </body>
</html>
