<!DOCTYPE html>
<html lang="rus">
    <head>
        <th:block th:replace="head :: head">
        </th:block>
        <link type="text/css" rel="stylesheet" href="/static/css/footer.css" th:href="@{/css/footer.css}">
        <link href="/static/css/index.css" rel="stylesheet" type="text/css" th:href="@{/css/registration.css}">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <title>Регистрация</title>
    </head>
    <body>
        <header>
            <a id="title" href="/"><span>CodeUp</span></a>
            <div class="navigation">
                <p class="sign_up">У вас уже есть аккаунт?</p>
                <form action="/login" method="get">
                    <button type="submit" class="sign_in">Вход</button>
                </form>
            </div>
        </header>
        <main>
            <div class="registration">
                <div class="greeting block">
                    <p class="code_block">
                        Добро пожаловать в сеть CodeUp!<br>
                        Введите свои данные для создания профиля
                    </p>
                </div>
                <form method="post" class="input block" action="/registration" th:object="${gamer}">
                    <div class="field">
                        <p>Email</p>
                        <input id="email" class="input_field" type="email" name="email" placeholder="Введите email" maxlength="35" minlength="4" required>
                        <div th:if="${#fields.hasErrors('email')}"
                             style="color: red">Некорректное значение email</div>
                    </div>
                    <div class="field">
                        <p>Username</p>
                        <input id="nickname" class="input_field" name="nickname" placeholder="Введите имя вашего аватара" maxlength="25" minlength="3" required>
                        <div th:if="${#fields.hasErrors('nickname')}"
                             style="color: red">Некорректное значение имени вашего аватара</div>
                    </div>
                    <div class="field">
                        <p>Password</p>
                        <input class="input_field" name="password" id="password" type="password" placeholder="Придумайте пароль" maxlength="25" minlength="4" required>
                        <div id="password-strength" style="margin-top: 10px; height: 10px; margin-left: 5px; max-width: 97.5%"></div>
                        <p id="password-complexity" style="padding-top: 5px"></p>
                        <div th:if="${#fields.hasErrors('password')}" style="color: red">Некорректное значение имени пароля</div>
                    </div>
                    <th:block th:insert="~{blocks/errorBlock :: error}"></th:block>
                    <button type="submit" class="create_account but">Создать аккаунт</button>
                </form>
            </div>
        </main>
        <footer th:replace="footer :: footer">
        </footer>
        <script src="/static/js/registration.js" th:src="@{/js/registration.js}"></script>
    </body>
</html>