<!DOCTYPE html>
<html lang="rus">
    <head>
        <meta http-equiv="Content-Type" Content="text/html; Charset=UTF-8">
        <meta content="программирование, обучение программированию, java, джава, игра" name="keywords">
        <meta content="Обучение программированию в игровом формате" name="description">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
        <link href="css/registration.css" type="text/html" th:href="@{../css/registration.css}">
        <title>Регистрация</title>
    </head>
    <body>
        <header>
            <a id="title" href="/"><span>CodeUp</span></a>
            <div class="navigation">
                <div class="sign_up"><span>У вас уже есть аккаунт?</span></div>
                <div class="sign_in"><a href="/customLogin"><span>Вход</span></a></div>
            </div>
        </header>
        <main>
            <div class="registration">
                <div class="greeting block">
                    <p class="code_block">
                        Добро пожаловать в сеть CodeUp!<br>
                        Введите свои данные для создания профиля
                    </p>
                </div>
                <form method="post" class="input block" action="/registration" th:object="${gamer}">
                    <div class="field">
                        <p>Email</p>
                        <input class="input_field" name="email" placeholder="Введите email" maxlength="25" minlength="4" required>
                        </input>
                        <div th:if="${#fields.hasErrors('email')}"
                             style="color: red">Некорректное значение email</div>
                    </div>
                    <div class="field">
                        <p>Username</p>
                        <input class="input_field" name="user_name" placeholder="Введите имя вашего аватара" maxlength="25" required>
                        </input>
                        <div th:if="${#fields.hasErrors('nickname')}"
                             style="color: red">Некорректное значение имени вашего аватара</div>
                    </div>
                    <div class="field">
                        <p>Password</p>
                        <input class="input_field" name="password" placeholder="Придумайте пароль" maxlength="25" minlength="4" required>
                        </input>
                        <div th:if="${#fields.hasErrors('password')}"
                             style="color: red">Некорректное значение имени пароля</div>
                    </div>
                    <th:block th:insert="~{blocks/errorBlock :: error}"></th:block>
                    <div>
                        <div class="create">
                            <div class="create_account">
                                <button type="submit">Создать аккаунт</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <footer>
            <a><span>© ООО GymCoders 2023</span></a>
            <a><span>Политика обработки данных</span></a>
        </footer>
    </body>
</html>