<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="/static/css/towers.css" th:href="@{/css/towers.css}">
  <link type="text/css" rel="stylesheet" href="/static/css/cyberpunk-css-main/cyberpunk.css" th:href="@{/css/cyberpunk-css-main/cyberpunk.css}">
  <title>Choose Towers</title>
  <style>
    body {
      background-image: url("static/images/towers/основной фон.png");
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>
</head>
<body>
<header>
  <a id="title" href="/CodeUp/menu"><span>CodeUp</span></a>
  <div class="avatar_menu">
    <img th:src="@{/images/4.jpg}" class="avatar">
    <ul class="menu">
      <form method="get" action="/CodeUp/profile">
        <li><button type="submit">Мой профиль</button></li>
      </form>
      <form method="get" action="/">
        <li><button type="submit">Настройки</button></li>
      </form>
      <form method="get" action="/logout">
        <li><button type="submit">Выход</button></li>
      </form>
    </ul>
  </div>
</header>
<div>
  <div class="JavaTower">
    <a href="javaTower.html"><img th:src="@{/images/towers/ГлавБашня.png}" alt="Java Tower"></a>
  </div>
  <a href="javaTower.html" class="cyberpunk-font-og f-x2-5 fg-yellow TextJava" >Java Tower</a>
</div>
<div>
  <div class="LeftTower cyber-glitch-1">
    <img th:src="@{/images/towers/ЛевБашня.png}">
  </div>
  <a class="cyberpunk-font-og f-x2-5 fg-blue cyber-glitch-4 TextLeftTower">Coming</a>
  <div class="oxanium-font f-x2-5 fg-blue cyber-glitch-3 TextLeftTower" style="left: 18%;">_</div>
</div>
<div>
  <div class="RightTower cyber-glitch-1">
    <img th:src="@{/images/towers/ПравБашня.png.png}">>
  </div>
  <a class="cyberpunk-font-og f-x2-5 fg-cyan cyber-glitch-4 TextRightTower">Coming</a>
  <div class="oxanium-font f-x2-5 fg-cyan cyber-glitch-3 TextRightTower" style="left: 91%;">_</div>
</div>
</body>
</html>
